.App {
    min-height: 100vh;
    padding: 25px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
  .search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar {
    width: 50%;
    border: none;
    padding: 10px;
  }
  .search-button {
    background: lightcoral;
    padding: 10px 20px;
    border: none;
    color: white;
  }
  .recipe {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }
  